NODE_ENV=development_or_production
FRONTEND_URL=frontend_base_url
DATABASE_URL=postgresql://your_url
PORT=backend_port
JWT_SECRET=jwt_secret_key
JWT_REFRESH=another_jwt_secret_key
QR_SECRET=
GOOGLE_BOOKS_API_KEY=your_google_books_key
RESEND_API_KEY=your_resend_api_key