NODE_ENV=development_or_production
DATABASE_URL=postgresql://your_url
PORT=backend_port
JWT_SECRET=jwt_secret_key
JWT_REFRESH=another_jwt_secret_key
QR_SECRET=
GOOGLE_BOOKS_API_KEY=your_google_books_key