NODE_ENV=development_or_production
FRONTEND_URL=frontend_base_url
DATABASE_URL=postgresql://your_url
PORT=backend_port
JWT_SECRET=jwt_secret_key
JWT_REFRESH=another_jwt_secret_key
CARD_SECRET=card(qrCode)_secret_key
GOOGLE_BOOKS_API_KEY=your_google_books_key
GOOGLE_CLIENT_ID=your_google_client_id(OAuth2)
RESEND_API_KEY=your_resend_api_key
LOG_LEVEL=chose_between:|trace|,|debug|,|info|,|warn|,|error|,|fatal|,|silent|