# ===== Postgres =====
# Username nel database
POSTGRES_USER=username
# Password di accesso al database
POSTGRES_PASSWORD=secure_password
# Nome database
POSTGRES_DB=database_name
# Versione postgreSQL (io ho scelto la 18.3)
POSTGRES_VERSION=18.3
# Porta interna del database (container)
POSTGRES_PORT=database_port
# Porta esterna del database (per connessione host)
POSTGRES_EXTERNAL_PORT=# Generalmente PostgreSQL utilizza la porta 5432, che è la stessa usata da AirPlay sui dispositivi apple. Se esegui questo container su macOS scegli una porta diversa

# ===== Redis =====
# Immagine Redis utilizzata dal progetto (Io ho scelto la 8.10.2-alpine)
REDIS_VERSION=8.10.2-alpine
# Porta interna di Redis. Di default utilizza la 6379
REDIS_PORT=6379
# Porta esposta sull'host per la connessione da applicazioni locali. Di default Redis utilizza la 6379
REDIS_EXTERNAL_PORT=6379
# Password richiesta per autenticarsi a Redis
REDIS_PASSWORD=secure_password