# Username nel database
POSTGRES_USER=username
# Password di accesso al database
POSTGRES_PASSWORD=secure_password
# Nome database
POSTGRES_DB=database_name
# Versione postgreSQL (io ho scelto la 18.3)
POSTGRES_VERSION=18.3
# Porta interna del database (container)
POSTGRES_PORT=database_port
# Porta esterna del database (per connessione host)
POSTGRES_EXTERNAL_PORT=#Generalmente PostgreSQL utilizza la porta 5432, che è la stessa usata da AirPlay sui dispositivi apple. Se esegui questo container su macOS scegli una porta diversa
